nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li{
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

header{
  background-color: gray;
  padding: 5px;
}

a{
    text-decoration: none;
}

hr{
  color: black;
  margin: auto;
  text-align: center;
  width: 90%;
}

table, th, td {
  border: 1px solid black;
}

table{
  margin-top: 20px;
}

.newsletter{
  background-color: gray;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 70%;
  margin: auto;
  display: block;
  margin-top: 40px;
}

footer{
  color: black;
  text-align: center;
}

.szoveeg{
  background-color: gray;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.kepek{
  margin-top: 20px;
}
