body{
    background-image: url(háttérkép.png);
}
#content{
  background:linear-gradient(to bottom, blue, yellow);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  width: 1200px;
  height: 1100px;
}
img{
    width: 200px;
    float: left;
}

nav{
  display: flex;
  background-color: linear-gradient(to bottom, blue, yellow);
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
}

nav li{
  list-style: none;
}

li{
 padding: 10px;
  list-style: upper;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
table, th, td {
  border: 1px solid #ddd;
}
th, td {
  padding: 8px;
  text-align: left;
}
th {
  background-color: yellow;
  color: black;
}
footer {
  text-align: center;
  padding: 10px;
  background: yellow;
  color: black;
  margin-top: 20px;
}
