nav{
    display: flex;
    background-color: purple;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
}

li{
   padding: 10px;
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

footer{
    background-color:purple;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 115%;
}