body {
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2596be;
    color: white;
}

.active>.nav-link {
    color: #ff2800 !important;
    font-weight: bold;
}