h1{
    text-align: center;
    color: aqua;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-image:url(pexels-markus-spiske-6212801.jpg) ;
}
h2{
    color: aquamarine;
    text-align: center;
}
footer{
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-size: 0.9em;
    position: absolute;
    bottom: -1200px;
    left: 0;
    width: 100%;
 
 }
 p{
    color: azure;
    margin-right:600px;
 }
 .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }