body{
    background-color: rgb(23, 22, 22);
    height: 2000px;
    color: gray;
    font-family: "Madimi One", sans-serif;;
}

.sticky{
    position: fixed;
    width: 100%;
}

header {
    overflow: hidden;
    top: -10px;
    position: relative;
    width: 100%;
    left: -10px;
    background: transparent;
    padding: 20px 10px;
  }
  
header nav {
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    margin: 15px;
    vertical-align: top;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
}

nav{
    display: fixed;
    flex-wrap: wrap;
}

nav a{
    color: rgb(4, 255, 0);
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    transition: 1s;
}


a:hover{
    border-bottom: 2px solid limegreen;
}

a:active{
    border-bottom: 2px solid green;
}
  
.pipe{
    padding-left: 10px;
    padding-right: 10px;
}

p{
    width: 83%;
}



.sqlimg{
    display: block;
    position: absolute;
    height: 50px;
    width: auto;
    left: 94%;
    top: 30%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100%{ transform: rotateY(360deg);}
}

.textbox{
    margin-left: 100px;
    margin-right: 100px;
}


    .whatissql {
        font-size: 30px;
        display: flex;
        align-items: center;
        margin-top: 100px;
      }
      
      .whatissql::before, .whatissql::after {
        flex: 1;
        content: '';
        padding: 3px;
        background-color: limegreen;
        margin: 5px;
      }

      ul{
        list-style: decimal;
        text-align: left;
      }
      li{
        padding: 10px;
      }

      .sql-type{
        background-color: rgb(37, 35, 35) !important;
        color: white !important;
        border-radius: 4px !important;
        box-shadow: none !important;
      }


      .MySQL-logo-div {
        border-radius: 25px;
        border:  10px solid rgb(47, 45, 45);
        display: block;
        margin-top: 90px;
        margin-left: auto;
        margin-right: auto;
      }

footer{
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-size: 0.9em;
    position: absolute;
    bottom: -1200px;
    left: 0;
    width: 115%;
    
}