h1, h2{
    color: aqua;
}
body{
    color: white;
    background-image: url(pexels-markus-spiske-6212801.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.nav-link, .navbar-brand{
    color: white;
}

section{
    border-radius: 10px;
}