body{
    background-image: url(./assets/img/background.jpg);
    background-size: cover;
    color: white;
}
nav{
    display: flex;
    background-color: purple;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
}

nav li{
    list-style: none;
}

li{
   padding: 10px;
    list-style: upper;
}

a{
    color: white;
    text-decoration: none;
}

footer{
    background-color:purple;
    text-align: center;
    color: white;
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 100%;
}
